* {
  box-sizing: border-box;
}

:focus {
 outline: none;
}

body {
  background: rgb(240,174,62);
  background: linear-gradient(108deg, rgba(240,174,62,1) 25%, rgba(238,86,58,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  background: rgb(240,174,62);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 300px;;

}

.search-container {
  position: relative;
}
.search-container input,
.search-container .suggestions {
  background-color: rgb(240,174,62);
}
.search-container input {
  border-radius: 5px;

}
.search-container .suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

ul {
  margin: 0;
  padding: 0;
}
ul.has-suggestions {
  display: block;
}
ul li {
  padding: 10px;
  cursor: pointer;
  list-style: none;
  font-size: 15px;
}
ul li:hover {
  width: 100%;
  border: none;
  background-color: rgb(214, 53, 35);
  padding: 10px;
  cursor: pointer;
  
}

input {
  margin: 0;
  border: none;
  outline: none;
  border: 1px solid #231e1e;
  border-bottom: 2px solid rgb(157, 33, 5);
}